<div class="d-flex justify-content-center">
<span class="badge bg-success fs-3 mb-3 fw-semibold">{{rssFeed?.title}}</span>
</div>
<div class="desc d-flex card bg-dark">
<p class="fs-5 fw-semibold">{{rssFeed?.description}}<br>
     <a [href]="rssFeed?.link" target="_blank" class="fw-semibold">Click</a> form more info.</p>
</div>
<div class="custom-scrollbar mt-3">
<div class="container mt-5">
     @for(item of rssFeed?.rssItems; track item.title){
          <div class="item-card card mb-4 border border-0 rounded shadow">
               <div class="card-header fs-4 rounded-top fw-semibold">
                 {{item.title}}
               </div>
               <div class="card-body rounded-bottom">
                 <h5 class="card-title fs-5 fw-semibold d-flex align-items-center">{{item.category}}&nbsp;<img src="../../assets/categoryName.png"></h5>
                 <p class="card-text fw-semibold">{{item.description}}</p>
                 <div class="d-flex justify-content-start">
                 <a [href]="item.link" target="_blank" class="btn btn-success fw-semibold d-flex align-items-center fs-6"><img src="../../assets/visitPage.png">&nbsp;Visit for more info</a>
                    </div>
               </div>
             </div>
     }
</div>
</div>