.drop{
    background-color: #8f7ceb;

}
.cat{
    background-color: #8f7ceb;

}
.diff{
    background-color: #8f7ceb;
}
.loc{
    background-color: #8f7ceb;
}

.dropdown-item:hover{
    background-color: #8f7ceb;
    color: white;
    cursor: pointer;
}
.term{
    background-color: #8f7ceb;
    color: white;
    cursor: pointer;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
select{
    cursor: pointer;
    border-radius: 15px;
}
.custom-scrollbar {
    overflow-y: auto;
    max-height: 55vh; /* Postavi maksimalnu visinu ako želiš ograničiti visinu */
    min-height: 45vh;
    scrollbar-width: thin; /* Mozilla Firefox */
    scrollbar-color: #4452a2 #f9faff; /* Mozilla Firefox */
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Širina custom scroll bara */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4452a2; /* Boja thumb-a (pokazivača) */
    border-radius: 10px; /* Zaobljeni rubovi thumb-a */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f9faff; /* Boja pozadine trake */
  }

  .paginator-custom{
    border-radius: 15px;
    background-color: #c3afff;
  }
  .card{
    transition: transform 0.3s;
    min-height: 350px;
  }

  .truncate {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 70px;
  }
  .card:hover{
    transform: scale(1.05);
        
  }
  .img-card{
    height: 200px;
    background-position: center;
  }
  .img-card:hover{
    filter: blur(2px);

  }

  @media screen and (min-width: 600px) {
    
    .view-btn{
      display: flex;
      justify-content: end;
    }
    .diff-badge{
      display: flex;
      justify-content: start;
    }
  }

  @media screen and (max-width: 600px) {
    .view-btn{
      margin-top: 10px;
      display: flex;
      justify-content: center;
    }
    .diff-badge{
      display: flex;
      justify-content: center;
    }
  }