<div>
    <div class="header row mb-3">
        <div class="col-sm-12 col-md-6">
            <span class="fs-4 fw-semibold">Created fitness programs</span>
        </div>
        <div class="col-sm-12 col-md-6 add-btn">
            <button mat-raised-button class="bg-success text-white fs-6" routerLink="/add-program">Add fitness
                program</button>
        </div>
    </div>
    <div class="custom-scrollbar">
        <div class="container-fluid">
            <div class="row gy-4 gx-4">
                @for (program of fitnessPrograms; track program.id) {
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <div class="card border border-0 shadow">
                        <img [src]="getImage(program.imageId)" class="img-card card-img-top img-fluid"
                            alt="Image of program">
                        <div class="card-body">
                            <h5 class="card-title fs-4 mb-3">{{program.name}}</h5>
                            <p class="fs-6 fw-semibold truncate">{{program.description}}</p>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <span class="fw-semibold fs-6">Price: {{program.price}} BAM</span>
                                <button mat-raised-button class="bg-success text-white" routerLink="/fitness-programs/{{program.id}}">See details</button>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>