
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: white;
    background-color: #8f7ceb;
}

.nav-pills .nav-link {
	color: #4452a2;
    border-radius: 10px;
	font-size: 20px;
	font-weight: 500;
}
.nav-pills:hover .nav-link:hover {
	background-color: #8f7ceb;
	color: white;
    border-radius: 10px;
	font-size: 20px;
	font-weight: 500;
}