.avatar{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.profile{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-box{
    flex-direction: column;
}
.card{
    border-color: #4452a2 !important;
}
.star{
    color: red;
}
.details-header{
    justify-content: space-between;

}
img{
    cursor: pointer;
}
.save-btn{
    background-color: #22BB33;
    color: white;
}
.close-btn{
    background-color: #dc3545;
    color: white;
}
.input-pict{
    position: relative;
    /* bottom: 20px;
    width: 40px;
    left: 50px; */
    bottom: 100px;
    opacity: 0;
    height: 100px;
    width: 100px;
    opacity: 0;
    cursor: pointer !important;
}