.star{
    color: red;
}
.forma{
    width: 80%;
}
.reg-box{
    width: 50%;
    background-color: #EEF5FF !important;
}
@media only screen and (max-width: 768px){
    .reg-box{
        width: 90%;
    }
}
@media only screen and (max-width: 991px){
    .reg-box{
        width: 80%;
    }
}