.star{
    color: red;
}
.forma{
    width: 100%;
}
.reg-box{
    width: 50%;
    background-color: #EEF5FF !important;
}
@media only screen and (max-width: 768px){
    .reg-box{
        width: 90%;
    }
}
@media only screen and (max-width: 991px){
    .reg-box{
        width: 80%;
    }
}
.stepper{
    background-color: #EEF5FF !important;
    width: 70% !important;
}
 .btn-file{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
    background-color: #3f51b5;
    border-radius: 5px;
    cursor: pointer;
}
.file-input{
    position: relative;
    opacity: 1;
} 
