<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row border rounded-5 p-3 bg-white shadow box-area reg-box justify-content-center">
            <div class="header-text mb-4 text-center">
                <p class="fs-3">Register your account</p>
                <p class="fs-6">Please insert your personal data for registration.</p>
            </div>
            <mat-stepper class="stepper" #stepper>
                <mat-step [stepControl]="registerFormStep1" label="Step 1">
                    <form class="forma" [formGroup]="registerFormStep1">
                        <label class="fw-semibold">Name<span class="star"> *</span></label>
                        <mat-form-field color="primary" class="w-100">
                            <mat-label>Enter name</mat-label>
                            <input matInput  formControlName="name" required>
                            <mat-icon matSuffix>badge</mat-icon>
                            @if (name.invalid) {
                                <mat-error>Name is required!</mat-error>
                            }
                        </mat-form-field>
                        <label class="fw-semibold">Surname<span class="star"> *</span></label>
                        <mat-form-field color="primary" class=" w-100">
                            <mat-label>Enter surname</mat-label>
                            <input matInput formControlName="surname" required>
                            <mat-icon matSuffix>badge</mat-icon>
                            @if (surname.invalid) {
                                <mat-error>Surname is required!</mat-error>
                            }
                        </mat-form-field>
                        <label class="fw-semibold">City<span class="star"> *</span></label>
                        <mat-form-field color="primary" class=" w-100">
                            <mat-label>Enter city</mat-label>
                            <input matInput formControlName="city" required>
                            <mat-icon matSuffix>apartment</mat-icon>
                            @if (city.invalid) {
                                <mat-error>City is required!</mat-error>
                            }
                        </mat-form-field>
                        <label class="fw-semibold">Mail<span class="star"> *</span></label>
                        <mat-form-field color="primary" class=" w-100">
                            <mat-label>Enter mail</mat-label>
                            <input matInput  formControlName="mail" required (input)="onMailInput()">
                            @if (mail.invalid) {
                                <mat-error>Mail is invalid!</mat-error>
                            }
                            <mat-icon matSuffix>mail</mat-icon>
                        </mat-form-field>
                        <!-- <label class="fw-semibold mb-1">Name<span class="star"> *</span></label>
                        <div class="input-group mb-4">
                            <input matInput type="text" id="name" formControlName="name"
                                class="form-control form-control-lg bg-light fs-6" placeholder="Enter name" required>
                        </div>
                        <label class="fw-semibold mb-1">Surname<span class="star"> *</span></label>
                        <div class="input-group mb-4">
                            <input type="text" id="surname" formControlName="surname"
                                class="form-control form-control-lg bg-light fs-6" placeholder="Enter surname">
                        </div>
                        <label class="fw-semibold mb-1">City<span class="star"> *</span></label>
                        <div class="input-group mb-4">
                            <input type="text" id="city" formControlName="city"
                                class="form-control form-control-lg bg-light fs-6" placeholder="Enter city">
                        </div>
                        <label class="fw-semibold mb-1">E-mail<span class="star"> *</span></label>
                        <div class="input-group mb-4">
                            <input type="text" id="mail" formControlName="mail"
                                class="form-control form-control-lg bg-light fs-6" placeholder="Enter e-mail"
                                (input)="onMailInput()">
                        </div> -->
                        <!-- <div class="input-group mb-4">
                    <button mat-raised-button color="primary" class="w-100 fs-6" [disabled]="registerForm.invalid || passwordsMissmath || !mailOk || !usernameOk">Register</button>
                </div> -->
                        <div class="mt-3">
                            <button mat-raised-button color="primary" matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="registerFormStep2" label="Step 2">
                    <form class="forma" [formGroup]="registerFormStep2" >
                        <label class="fw-semibold">Username<span class="star"> *</span></label>
                        <mat-form-field color="primary" class="w-100">
                            <mat-label>Enter username</mat-label>
                            <input matInput  formControlName="username" required (input)="onUsernameInput()">
                            <mat-icon matSuffix>person</mat-icon>
                            @if (username.invalid) {
                                <mat-error>Username is required!</mat-error>
                            }
                            @if (!usernameOk) {
                                <mat-error>Username is already used!</mat-error>
                            }
                        </mat-form-field>
                        <label class="fw-semibold">Password<span class="star"> *</span></label>
                        <mat-form-field color="primary" class=" w-100">
                            <mat-label>Enter password</mat-label>
                            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required (input)="onRetypePasswordChange($event)">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                            @if (password.invalid) {
                                <mat-error>Password is invalid!</mat-error>
                            }
                        </mat-form-field>
                        <label class="fw-semibold">Retype password<span class="star"> *</span></label>
                        <mat-form-field color="primary" class=" w-100">
                            <mat-label>Enter password</mat-label>
                            <input matInput formControlName="retypePassword" [type]="hideRetype ? 'password' : 'text'" required (input)="onRetypePasswordChange($event)">
                            <button mat-icon-button matSuffix (click)="hideRetype = !hideRetype" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRetype">
                                <mat-icon>{{hideRetype ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                            @if (retypePassword.invalid) {
                                <mat-error>Password is invalid!</mat-error>
                            }
                        </mat-form-field>
                        <label class="fw-semibold mb-1">Upload profile image</label><br>
                        <div class="mb-3">
                            <input class="form-control" type="file" id="formFile" (change)="onFileUpload($event)" formControlName="fileControl">
                          </div>
                        <!-- <div  class="btn-file">
                            
                            <input type="file" class="file-input">
                            <img src="../../assets/close.png">
                        </div> -->
                        <!-- <input class="file-upload "type="file"> -->
                        <!-- <label for="file" class="file-label">Chose a Photo</label> -->

                    
                        <!-- <label class="fw-semibold mb-1">Username<span class="star"> *</span></label>
                        <div class="input-group mb-4">
                            <input type="text" id="username" formControlName="username"
                                class="form-control form-control-lg bg-light fs-6" placeholder="Enter username"
                                (input)="onUsernameInput()">
                        </div>
                        <label class="fw-semibold mb-1">Password<span class="star"> *</span></label>
                        <div class="input-group mb-4">
                            <input type="password" formControlName="password"
                                class="form-control form-control-lg bg-light fs-6" placeholder="Enter password"
                                (input)="onRetypePasswordChange($event)">
                        </div>
                        <label class="fw-semibold mb-1">Retype password<span class="star"> *</span></label>
                        <div class="input-group mb-4">
                            <input type="password" id="retypePassword" formControlName="retypePassword"
                                class="form-control form-control-lg bg-light fs-6" placeholder="Enter password"
                                (input)="onRetypePasswordChange($event)">
                        </div> -->
                        <div class="mt-3">
                            <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                            <button mat-raised-button color="primary" type="submit" class="ms-2" (click)="onSubmit()" [disabled]="registerFormStep1.invalid || registerFormStep2.invalid || passwordsMissmath || !mailOk || !usernameOk">Register</button>
                        </div> 
                    </form>
                </mat-step>
            </mat-stepper>
            <div class="text-center mt-3">
                <p>Already have account? <a routerLink="/login">Sign in</a> or go to <a routerLink="/home">home</a></p>
            </div>
        </div>
    </div>